<section class="w-full h-1/2 p-2">
  <div class="bg-gray-200 size-full rounded-4xl overflow-clip relative">
    <img
      [src]="selectedImage() === '' ? property().images?.[0] : selectedImage()"
      alt=""
      class="object-cover w-full h-full"
    />
    <div
      class="px-3 h-10 flex items-center justify-center rounded-2xl bg-container absolute top-5 left-4 gap-2"
    >
      <p>Price:</p>
      <p>
        {{ property().price }} <span class="text-gray-400 text-sm">/Daily</span>
      </p>
    </div>
  </div>
</section>
<section
  class="p-2 flex gap-2 w-full overflow-x-scroll [&::-webkit-scrollbar]:hidden [-ms-overflow-style:'none'] [scrollbar-width:none]"
>
  @for (img of property().images; track $index) {
  <div
    class="bg-gray-200 h-24 min-w-36 rounded-2xl overflow-clip"
    (click)="selectImage(img)"
  >
    <img [src]="img" alt="" class="object-cover w-full h-full" />
  </div>
  }
</section>
<section class="pt-6 px-5 text-text">
  <div class="flex items-center justify-between">
    <div>
      <h1 class="text-2xl font-bold">{{ property().title }}</h1>
      <p class="text-sm text-gray-500 flex gap-1 items-center">
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="15"
            height="15"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-map-pin-icon lucide-map-pin"
          >
            <path
              d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
            />
            <circle cx="12" cy="10" r="3" /></svg></span
        >{{ property().location }}
      </p>
    </div>
    <p
      [ngClass]="{
        'bg-rose-400': !property().availability,
        'bg-primary': property().availability
      }"
      class="py-1 px-3 rounded-full text-sm"
    >
      {{ property().availability ? "Available" : "Occupied" }}
    </p>
  </div>

  <div class="py-6">
    <p class="text-lg font-bold text-text py-1">Description</p>
    <p class="text-md text-gray-500 h-44 overflow-y-scroll py-1">
      {{ property().description }}
    </p>
  </div>
</section>
